
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("img/loginimage.avif") no-repeat center center / cover;

        backdrop-filter: blur(2px);
        
    }

    .container {
        background: rgba(255, 255, 255, 0.2);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .form-box {
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
        border-radius: 10px;
    }

    .input-group {
        margin: 10px 0;
        position: relative;
    }

    .input-group input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .input-group .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .btn {
        width: 100%;
        padding: 10px;
        background: black;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn:hover {
        background: darkgray;
    }

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .checkbox label {
        margin-left: 5px;
    }

    form>p{
        margin-top:15px;
    }
